<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain colored"></i>
    <i class="devicon-css3-plain colored"></i>
    <i class="devicon-react-original colored"></i>
    <i class="devicon-vuejs-plain colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>My main skills are based on front-end developing, going from pure CSS & HTML5 to Sass, Bootstrap, React, VueJS
      and more.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-go-plain colored"></i>
    <i class="devicon-c-plain-wordmark colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-python-plain"></i>
    <p>My main development languages are Typescript, GO and C, but I have worked with Java, Python, C++, PHP and more.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-github-original colored"></i>
    <i class="devicon-postgresql-plain colored"></i>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-express-original colored"></i>
    <p>These are the tools I worked with in the last years; I also know some video and photo editing, and arduino programming.</p>
  </div>
</div>