<div id="particles-js">
  <div class="header">
      <h1 style="margin-bottom:0.3em !important;" class="animate__animated animate__fadeInDown">
        <span class="site-title">{{site.username}}</span>
      </h1>
      <p class="animate__animated animate__fadeIn" style="margin-top:20px; margin-bottom:20px">
        <span class="site-description typing"></span>
      </p>

      <div class="header-icons animate__animated animate__fadeInUp">
        <a aria-label="Send email" href="mailto:{{site.email}}" target="_blank"><i class="icon far fa-envelope"></i></a>
        <a aria-label="My Instagram" href="https://www.instagram.com/giuseppe_del_campo/" target="_blank"><i class="icon fab fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Letterboxd" href="https://letterboxd.com/Giuseppetm/" target="_blank"><i class="icon fas fa-fingerprint" aria-hidden="true"></i></a>
        <a aria-label="My YouTube Channel" href="https://www.youtube.com/channel/UC48YylNs29E-9-EgA_0noFw" target="_blank"><i class="icon fab fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My Telegram" href="https://t.me/giuseppetm" target="_blank"><i class="icon far fa-paper-plane" aria-hidden="true"></i></a>
        <a aria-label="My Github" href="https://github.com/Giuseppetm" target="_blank"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
      </div>
      
  </div>
  <a class="down animate__animated animate__fadeIn" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>