<div id="particles-js">
  <div class="header">
      <h1 style="margin-bottom:0.3em !important;">
        <span class="site-title">{{site.username}}</span>
      </h1>
      <p>
        <span class="site-description">
          {{site.user_title}}
        </span>
      </p>

      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope-o"></i></a>
        <a aria-label="My Instagram" href="https://www.instagram.com/giuseppe_del_campo/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Letterboxd" href="https://letterboxd.com/Giuseppetm/"><i class="icon fa fa-film" style="width: 26px;" aria-hidden="true"></i></a>
        <a aria-label="My YouTube Channel" href="https://www.youtube.com/channel/UC48YylNs29E-9-EgA_0noFw"><i class="icon fa fa-youtube-play" aria-hidden="true"></i></a>
        <a aria-label="My Github" href="https://github.com/Giuseppetm" target="_blank" href="#"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>

      <!--
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
      -->
      
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
