<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="smart_bear" src="{{ "/assets/img/smart_bear.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Smart Bear</h3>
    <i class="devicon-vuejs-plain colored project-devicon"></i>
    <i class="devicon-javascript-plain colored project-devicon"></i>
    <i class="project-devicon"><img src="{{ " /assets/img/h2020.png" }}" style="width:35px; height:24px"></i>
    <p>Smart Bear is a web application for the manipulation of FHIR data about patient's clinical conditions. This is a <a href="https://ec.europa.eu/programmes/horizon2020/" target="_blank">Horizon 2020</a> funded project.</p>
    <!--<a class="project-link-disabled"><i class="fas fa-code-branch repository"></i>Repository</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="studenti_unimi" src="{{ "/assets/img/studenti_unimi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Studenti Unimi </h3>
    <i class="devicon-react-original colored project-devicon"></i>
    <i class="devicon-typescript-plain colored project-devicon"></i>
    <p>
      This project concerns the development of a website to contain all the informations and links of this network that I have created over the past 2 years with my university colleagues, 
      and that I continue to manage. It was created with the aim of establishing a central point of connection between all the degree courses of the University of Milan; 
      currently the population on the groups is about a few thousand students, who exchange useful informations day after day and use the services we offer.
    </p>
    <a class="project-link" href="https://github.com/StudentiUnimi/website" target="_blank"><i class="fas fa-code-branch repository"></i>Repository</a>
    <a class="project-link" href="https://studentiunimi.it/" target="_blank"><i class="fas fa-globe website"></i>Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="happy_food" src="{{ "/assets/img/happy_food.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Happy Food</h3>
    <i class="devicon-javascript-plain colored project-devicon"></i>
    <i class="devicon-express-original colored project-devicon"></i>
    <i class="devicon-mongodb-plain colored project-devicon"></i>
    <i class="devicon-bootstrap-plain colored project-devicon"></i>
    <p>
      This project is a web application for searching Tuscan restaurants, which allows users who use it to find informations about restaurants in a particular city, 
      and their location indicated on the map. The only operation the user will have to do is to select the type of the category, and the city of research. 
      Once the appropriate button is pressed, you will be able to see the list of restaurants, some information about them such as the name, telephone number and address, and their location.
    </p>
    <a class="project-link" href="https://github.com/Giuseppetm/happy_food" target="_blank"><i class="fas fa-code-branch repository"></i>Repository</a>
    <a class="project-link" href="https://happyfoodwebsite.herokuapp.com/" target="_blank"><i class="fas fa-globe website"></i>Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="automated_greenhouse" src="{{ "/assets/img/automated_greenhouse.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Automated Greenhouse</h3>
    <i class="devicon-c-plain colored project-devicon"></i>
    <i class="project-devicon"><img src="{{ "/assets/img/arduino.svg" }}" style="width:25px; height:25px"></i>
    <p>
      I spent more or less 1 month on this project, which I exhibited during my graduation oral exam in 2018. 
      It was designed to provide an example of how a traditional greenhouse can be automated through the use of a microcontroller like Arduino.
    </p>
    <a class="project-link" href="https://github.com/Giuseppetm/Automated_Greenhouse" target="_blank"><i class="fas fa-code-branch repository"></i>Repository</a>
  </div>
</div>