// Main colors mported from other project
$background-color: #f5f5f5; // Primary background color
$primary-red: #d12e2e; // Primary text color
$secondary-dark: #1D1D1D; // Secondary background color
$primary-text: #333; // Standard white for texts
$border-color: rgb(181, 181, 181); // Border color
$footer-color: #333333; // Footer color


// Main title font
@font-face {
    font-family: 'ROCKETWILDNESS';
    src: url('../fonts/ROCKETWILDNESS.woff2') format('woff2'),
    url('../fonts/ROCKETWILDNESS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Text font
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.woff2') format('woff2'),
    url('../fonts/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: $primary-text;
    font-family: 'Quicksand';
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, stong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}