$background-color: #2a363b; // Primary background color for canvas
$primary-color: #e84a5f; // Primary color
$secondary-color: #ff847c; // Secondary color
$secondary-dark: rgb(89, 88, 88); // Secondary background color for header icons
$border-color: rgb(151, 151, 151); // Border color

$primary-text: #4d4d4d; // Standard color text
$text-color-header: #fcfcfc;

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: $primary-text;
    font-family: 'Open Sans', sans-serif;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, stong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}