.footer {
  background: $secondary-color;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: $primary-text;

  a {
    text-decoration: none;
    margin: 0;
    color: $primary-text;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}