#particles-js {
  background: $background-color;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100% !important;
    height:100vh !important;
  }
}

.header {
  z-index: 1;
  text-align: center;
  color:$text-color-header;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    line-height: 1;
    color: $primary-color;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 72px;
    }
    @media only screen and (min-width: 1900px) {
      width: 120vh;
    }
  }
  .site-description {
    font-size: 11px;
    //display: block;
    line-height: 1;
    text-transform: uppercase;
    color: $text-color-header;
    //margin-top: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.typed-cursor {
  color: $text-color-header;
}

.header-links {
  margin: 10px;
  .link {
    color: $text-color-header;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: $text-color-header;
    width: 15px;
    height: 15px;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid $text-color-header;
    transition: all .3s;
    &:hover, &:active {
      color: $secondary-color;
      background: $secondary-dark;
    }
    @media only screen and (min-width:$cut) {
      width: 25px;
      height: 25px;
      font-size: 25px;
    }
  }
}

.down {
  color: $text-color-header;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: $text-color-header;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
    &:hover {
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
