@font-face {
  font-family: "ROCKETWILDNESS";
  src: url("../src/fonts/ROCKETWILDNESS.woff2") format("woff2"), url("../src/fonts/ROCKETWILDNESS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../src/fonts/Quicksand-Light.woff2") format("woff2"), url("../src/fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

* {
  color: #ebebeb;
  font-family: "Quicksand";
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-family: "Quicksand";
}

footer {
  background-color: #333333;
}

/* Fix bootstrap outline when click */
a:active,
a:focus,
button:active,
button:focus {
  outline: 0;
  outline: none;
  box-shadow: none !important;
}

.home, .projects {
  background-color: #083151;
}

.about, .other {
  background-color: #1D1D1D;
}

.yellow {
  color: #FFE70E !important;
}

.white {
  color: #ebebeb !important;
}

.arrow-next-page {
  transform: scale(1.3, 1);
  color: #ebebeb;
  font-size: 35px;
  margin-top: 30px;
}

/* Home adjustments */
.home .home-title {
  font-family: "ROCKETWILDNESS" !important;
  font-size: 5rem;
  text-transform: uppercase;
}

.home .home-description {
  font-family: "Quicksand";
  font-size: 1.2rem;
  letter-spacing: 0.3em;
  padding-bottom: 20px;
}

.home .home-description-underline {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 5px;
}

.home .header .navbar-brand {
  font-family: "ROCKETWILDNESS";
}

.home .header .nav-item {
  padding-left: 2rem !important;
  padding-right: 0rem !important;
}

.home .vertical-align {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .header a {
  position: relative;
}

.home .header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.home .header a:hover:after {
  width: 100%;
  left: 0;
}

.home .row {
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .home .home-title {
    font-size: 15vw;
  }

  .home .home-description {
    font-size: 4vw;
  }

  .home .header .navbar-brand {
    font-size: 4.5vw;
  }

  .home .header .fa {
    font-size: 4.5vw;
  }
}
/* End home adjustments */
/* Breakpoint definitions */
@media only screen and (min-width: 1200px) {
  .x-large-display {
    display: block;
  }

  .large-display {
    display: none;
  }

  .medium-display {
    display: none;
  }

  .small-display {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .x-large-display {
    display: none;
  }

  .large-display {
    display: block;
  }

  .medium-display {
    display: none;
  }

  .small-display {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .x-large-display {
    display: none;
  }

  .large-display {
    display: none;
  }

  .medium-display {
    display: block;
  }

  .small-display {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .x-large-display {
    display: none;
  }

  .large-display {
    display: none;
  }

  .medium-display {
    display: none;
  }

  .small-display {
    display: block;
  }
}
/* End breakpoint definitions */