
// Main title font
@font-face {
  font-family: 'ROCKETWILDNESS';
  src: url('../src/fonts/ROCKETWILDNESS.woff2') format('woff2'),
  url('../src/fonts/ROCKETWILDNESS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Text font
@font-face {
  font-family: 'Quicksand';
  src: url('../src/fonts/Quicksand-Light.woff2') format('woff2'),
  url('../src/fonts/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Fonts properties
$font-family-title: 'ROCKETWILDNESS';
$font-family-text: 'Quicksand';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;

// Colors properties
$primary-blue: #083151; // Primary background color
$primary-yellow: #FFE70E; // Primary text color
$secondary-dark: #1D1D1D; // Secondary background color
$primary-text: #ebebeb; // Standard white for texts
$footer-color: #333333; // Footer color

// Universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

* {
  color: $primary-text;
  font-family: $font-family-text;
}

section { // Una sezione deve occupare l'intera grandezza della finestra di dimensioni attuali
  width: 100%;
  height: 100vh; // A quanto pare vh va bene per lo scopo
  box-sizing: border-box; // Border-box e display block non sono sicuro che servano, ma forse servono poi
  display: block;
  text-align: center;
  font-family: $font-family-text;
}

footer {
  font-family: $font-family-text;
  background-color: $footer-color;
  color: $primary-text;
}

.yellow {
  color: $primary-yellow !important;
}

.white {
  color: $primary-text !important;
}


/* Home adjustments */

.home, .projects {
  background-color: $primary-blue;
}

.home-title {
  font-family: $font-family-title !important;
  font-size: 5rem;
  text-transform: uppercase;
}

.home-title .letter {
  display: inline-block;
}

.home-description {
  font-family: $font-family-text;
  font-size: 1.2rem;
  letter-spacing: 0.3em;
}

.home-description .letter {
  display: inline-block;
}

.home .header .navbar-brand {
  font-family: $font-family-title;
}

.home .header .nav-item {
  padding-left: 2rem !important;
  padding-right: 0rem !important;
}

.home .vertical-align {
  height:65%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.home .header a {
  position: relative;
}

.home .header a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.home .header a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* End home adjustments */



.about, .other {
  background-color: $secondary-dark;
}