@font-face {
  font-family: "ROCKETWILDNESS";
  src: url("../src/fonts/ROCKETWILDNESS.woff2") format("woff2"), url("../src/fonts/ROCKETWILDNESS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../src/fonts/Quicksand-Light.woff2") format("woff2"), url("../src/fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

* {
  color: #ebebeb;
  font-family: "Quicksand";
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-family: "Quicksand";
}

footer {
  font-family: "Quicksand";
  background-color: #333333;
  color: #ebebeb;
}

.yellow {
  color: #FFE70E !important;
}

.white {
  color: #ebebeb !important;
}

/* Home adjustments */
.home, .projects {
  background-color: #083151;
}

.home-title {
  font-family: "ROCKETWILDNESS" !important;
  font-size: 5rem;
  text-transform: uppercase;
}

.home-title .letter {
  display: inline-block;
}

.home-description {
  font-family: "Quicksand";
  font-size: 1.2rem;
  letter-spacing: 0.3em;
}

.home-description .letter {
  display: inline-block;
}

.home .header .navbar-brand {
  font-family: "ROCKETWILDNESS";
}

.home .header .nav-item {
  padding-left: 2rem !important;
  padding-right: 0rem !important;
}

.home .vertical-align {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .header a {
  position: relative;
}

.home .header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.home .header a:hover:after {
  width: 100%;
  left: 0;
}

/* End home adjustments */
.about, .other {
  background-color: #1D1D1D;
}